{% extends 'projects/base.html' %}
{% load static %}
{% block content %}

    <!-- Start: Logout box -->
    <div class="newsletter-subscribe" style="height: 70vh; margin-top: 70px;">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">You are Logged Out of your Account</h2>
                <p class="text-center">Please visit soon again. </p>
            </div>
            <!-- End: Intro -->
        </div>
        <!-- Start: 1 Row 2 Columns -->
        <div class="text-center">
            <div class="container" style="margin-bottom: 50px;">
                <div class="row">
                    <div class="col-6 col-md-6 text-right">
                        <a class="btn btn-info" role="button" href="{% url 'home' %}" style="background-color: green;margin-right: 10px;">Home</a>
                    </div>
                    <div class="col-5 col-md-6 text-left">
                        <a class="btn btn-info" role="button" href="{% url 'login' %}" style="background-color: #5cd8e9;margin-right: 10px;">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: 1 Row 2 Columns -->
    </div>
    <!-- End: Logout box -->
    

{% endblock content %}